*{
    margin:0;
    padding:0;
}
body {
    font-family: 'Manrope', sans-serif;
    }
.section-title{

    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    
    }
    .section-description{
        color: rgba(39, 39, 39, 0.60);
        text-align: center;
        font-size: 16px;    
        font-weight: 400;
        margin-bottom: 30px;
    }

.header{
    background-color: rgba(229, 84, 115,0.10);
    height: 850px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px 0px 240px;
}
.header-title{
    color: #272727;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
}
.header-paragraph{
    color: rgba(39, 39, 39,0.60);
    margin-bottom: 15px;
}
.header-left  .header-right{
    width: 1000px;
}
.header-left{
    max-width: 750px;
}
.btn{
    padding: 10px 20px;
    color: #fff ;
    background-color: #E55473;
    border: 0;
    border-radius: 3px;

}
/* Featured Section started here */
.featured-container{
    margin: 0px 240px;
    /* height: 550px; */
}

main {
    margin-top: 100px;
}
.featured-flowers{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 24px;
    
}
#flower-one{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}
#flower-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}
#flower-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}
.flowers{
  text-align:center;

}

.img-size {
    padding-top: 110px;
    width: 370px;
    height: 428px;

}
.flower-para{
    display: flex;
    justify-content: space-around;
    gap: 160px;
    margin-top: 30px;
}
.flower-link{  
    color: #272727;
    font-size: 16px;
    /* font-style: normal; */
    font-weight: 700;
    /* line-height: 35px; */
    text-decoration-line: underline;

}
/* hot deal container styels started */
.hot-deal-container{
    background: rgba(229, 84, 115, 0.05);
    height: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: center;        
}
.hot-deal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.off{
    color: #E55473;
}
.hot-deal-left{
    max-width: 600px;
    text-align: center;
}
.hot-deal-right{
    width: 500px;
}

.hot-img{
    width: 200px;
    margin-top: 50px;
}
/* instragam section started here */

.instgram-container{
    margin: 30px 240px;
    height: 500px;
}
.instagram{
    display: flex;
    justify-content: center;
    /* gap: 2px; */

}
.small-flowers{
    padding: 20px 10px;
    /* width: 200px; */
    height: 150px;
    /* margin-top: 30px; */
}
.small-img{
    /* width: 100%; */
    margin: auto;
}

.latest-deals-container{
    margin: 100px  240px;
    
}
.latest-deals{
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    text-align: center;
    height: 350px;
    padding-top: 140px;
}
.email-form{
    padding: 10px;
    margin: 5px 10px;
    border: 0px;
}

footer{
    text-align: center;
    background-color: #111010;
    height: 400px;
    padding-top: 150px;
}
.footer-title{
    color: #fff;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    }

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;    
    font-size: 12px;
    font-weight: 400;
    /* font-style: normal; */
    /* line-height: normal; */
}